<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Imaging.Formats" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net45" />
  <package id="AForge.Video.FFMPEG" version="2.2.5-rc" targetFramework="net45" />
  <package id="AForge.Vision" version="2.2.5" targetFramework="net45" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net45" />
  <package id="netDXF" version="2.0.2" targetFramework="net45" />
  <package id="NetTopologySuite" version="1.14" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="OpenCvSharp3-AnyCPU" version="3.3.1.20171117" targetFramework="net45" />
  <package id="Syncfusion.Chart.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Chart.Windows" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Compression.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.DocIO.WinForms" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Grid.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Grid.Grouping.Windows" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Grid.Windows" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.GridExport.WinForms" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.GridHelperClasses.Windows" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Grouping.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Linq.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.OfficeChart.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Pdf.WinForms" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.PivotAnalysis.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.PivotTable.WinForms" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Shared.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Shared.Windows" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.SpellChecker.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Tools.Base" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.Tools.Windows" version="17.4.0.39" targetFramework="net45" />
  <package id="Syncfusion.XlsIO.WinForms" version="17.4.0.39" targetFramework="net45" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net45" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net45" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net45" />
</packages>